.work {
  height: 500px;
  background-size: cover;
  overflow: hidden;
}

.work:first-child {
  background-image: url('assets/konten/kotak/1.png');
}
.work:nth-child(2) {
  background-image: url('assets/konten/kotak/3.png');
}
.work:nth-child(3) {
  background-image: url('assets/konten/kotak/5.png');
}
.work:nth-child(4) {
  background-image: url('assets/konten/kotak/4.png');
}
.work:nth-child(5) {
  background-image: url('assets/konten/kotak/2.png');
}
.work:nth-child(6) {
  background-image: url('assets/konten/kotak/Andrio.png');
}
.work:nth-child(7) {
  background-image: url('assets/konten/kotak/6.png');
}
.work-content {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  position: relative;
  opacity: 0;
  transition: 200ms;
}
.work-content:hover {
  color: #fff;
  opacity: 1;
}

.work-content .work-mybtn {
  width: 169px;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-content .work-mybtn h3 {
  font-size: 20px;
  margin: 0;
}

.work-content h4 {
  font-size: 40px;
  font-weight: 800;
}
.work-content p {
  font-size: 26px;
}

@media screen and (max-width: 1280px) {
  .work {
    height: 400px;
  }
  .work-content {
    padding: 30px;
  }
  .work-content .work-mybtn {
    width: 144px;
    height: 44px;
  }
  .work-content .work-mybtn h3 {
    font-size: 16px;
    margin: 0;
  }

  .work-content h4 {
    font-size: 30px;
  }
  .work-content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .work {
    height: 300px;
  }
  .work-content {
    padding: 20px;
  }
  .work-content h4 {
    font-size: 26px;
  }
  .work-content p {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .work {
    height: 500px;
  }
  .work-content {
    text-align: start;
  }
  .work-content .work-mybtn {
    width: 169px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work-content .work-mybtn h3 {
    font-size: 20px;
    margin: 0;
  }

  .work-content h4 {
    font-size: 40px;
    font-weight: 800;
  }
  .work-content p {
    font-size: 26px;
  }
}
@media screen and (max-width: 419px) {
  .work {
    height: 400px;
  }
  .work-content {
    padding: 20px;
  }
  .work-content .work-mybtn {
    width: 144px;
    height: 44px;
  }
  .work-content .work-mybtn h3 {
    font-size: 16px;
    margin: 0;
  }

  .work-content h4 {
    font-size: 30px;
  }
  .work-content p {
    font-size: 20px;
  }
}
