body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  max-width: 1920px;
  /* cursor: url('https://cdn.custom-cursor.com/db/6102/32/color-lush-lava-cursor.png'), auto; */
}
.mybg-dark {
  background-color: rgb(15, 15, 15);
}

a {
  text-decoration: none;
  color: inherit;
}
.link-a:hover {
  background: linear-gradient(90deg, #8002c4, #ec0120);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 1.6;
}

.light-blue {
  color: #7fb5ff;
}

.mybtn {
  border: 2px solid #fff;
  color: inherit;
  padding: 14px 28px;
  transition: 400ms;
}
.mybtn:hover {
  background-color: #fff;
  color: #000;
  font-weight: 700;
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #8002c4, #ec0120);
  border-image-slice: 1;
}

.fs10 {
  font-size: 10px;
}
.fs15 {
  font-size: 15px;
}
.fs20 {
  font-size: 20px;
}
.fs25 {
  font-size: 25px;
}
.fs30 {
  font-size: 30px;
}
.fs40 {
  font-size: 40px;
}
.fs50 {
  font-size: 50px;
}
.fs60 {
  font-size: 60px;
}
.fs70 {
  font-size: 70px;
}
.fs80 {
  font-size: 80px;
}
.fs90 {
  font-size: 90px;
}
.fs100 {
  font-size: 100px;
}

h3 {
  font-weight: 800;
  background: linear-gradient(90deg, #8002c4, #ec0120);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home img {
  width: 120%;
}

footer {
  background-color: #fdac5a;
}
footer .logo {
  font-weight: 700;
  font-size: 40px;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mb100 {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  body {
    text-align: center;
  }
  .contentWrapper {
    padding-top: 150px;
  }
  .home img {
    width: 100%;
  }
}

@media screen and (max-width: 565px) {
  .fs10 {
    font-size: 10px;
  }
  .fs15 {
    font-size: 15px;
  }
  .fs20 {
    font-size: 17.5px;
  }
  .fs25 {
    font-size: 20px;
  }
  .fs30 {
    font-size: 22px;
  }
  .fs40 {
    font-size: 25px;
  }
  .fs50 {
    font-size: 30px;
  }
  .fs60 {
    font-size: 40px;
  }
  .fs70 {
    font-size: 50px;
  }
  .fs80 {
    font-size: 60px;
  }
  .fs90 {
    font-size: 70px;
  }
  .fs100 {
    font-size: 80px;
  }
}

/* * {
    border: .6px solid red;
} */
